@import 'vars.scss';
@import 'mixins.scss';
@import 'null.scss';

html {
  font-size: $mainFontSize;
  color: $mainFontColor;
  text-align: center;
  background-image: url("../images/webpack-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #C0C4CC;
}

.title {
  color: rgb(0, 0, 255)
}

h1 {
  padding-top: 50px;
  font-size: 5rem;
}

p {
  margin-top: 20px;
}
